<div class="content">
    <div class="cardTools">
      <div class="img" routerLink="/qrGenerate">
        <img src="https://s.isanook.com/ca/0/ui/279/1396205/s__152616986_1562561122.jpg" alt="">
      </div>
    </div>
    <div class="cardTools">
      <div class="img" routerLink="/resizeImg">
        <img src="https://s.isanook.com/ca/0/ui/279/1396205/s__152616986_1562561122.jpg" alt="">
      </div>
    </div>
    <div class="cardTools">
      <div class="img" routerLink="/imgToBase64">
        <img src="https://s.isanook.com/ca/0/ui/279/1396205/s__152616986_1562561122.jpg" alt="">
      </div>
    </div>
  </div>